body{ /* Normal  */
      font-size: 16px;
      font-family: Calibri;
      /*color: #708090;*/
      /*background-color: #F5F5F5;*/
  }


h1.title {
  font-size: 26px;
  font-weight: bold;
  font-family: Garamond;
  color: black;
  text-align: center;
}

h3.subtitle {
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-family: Garamond;
  color: black;
  text-align: center;
}

h1 { /* Header 1 */
  font-size: 22px;
  font-weight: bold;
  font-family: Garamond;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
}

h2 { /* Header 2 */
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: Garamond;
  color: black;
  margin-top: 40px;
  margin-bottom: 20px;
}

h3 { /* Header 3 */
  font-size: 16px;
  font-family: Garamond;
  color: #473fbd;
}


h4.author { /* Header 4 - and the author and data headers use this too  */
  font-size: 18px;
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  color: black;
  text-align: center;
  #float: left;
}

h4.date { /* Header 4 - and the author and data headers use this too  */
  font-size: 18px;
  font-family: Garamond;
  font-style: normal;
  font-weight: bold;
  color: black;
  text-align: center;
  #float: right;
}


code.r{ /* Code block */
    font-size: 12px;
}

pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
    color: #708090;
    background-color: # F8F8FF;
}





blockquote {
    font-size: 1em;
    font-style: italic;
}

#TOC {/* table of contents*/
   color: #708090;
   font-family: Calibri;
   font-size: 16px;
   border-color: #708090;
}

/* two tables side-by-side */
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  padding: 5px; /* space between two tables*/
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 2px;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
/* end of the setting for two tables side-by-side */

td {  /* Table  */
  font-size: 14px;
}

#disclaimer > h2 {
  display: none;
}


#disclaimer{
  font-size: 1.2rem;
  font-style: italic;
  position: relative;
  bottom: 0;
  right: 0.5in;
  line-height: 1.1;
  text-align: right;
  color: #777;
}

#disclaimer code{
  color: #666;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
}



/* section: Tooltip *******************************************************************************/
.hovertip {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertip:before {
  content: attr(tooltip_text);
  visibility: hidden;
  
  overflow-y: inherit; /*new*/

  width: 250px; /*250px;*/
  background-color: #8c8c8c;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 5px 10px;
  /* fade-in*/
  opacity: 0;  
  transition: opacity 1s ease-in-out;

  /* top tooltip*/
  position: absolute; /*let tooltip wrap instead of overflow*/
  z-index: 1;
  left: 50%; /*auto;*/
  bottom: 110%; /*auto;*/
  margin-left: -60px;
}

.hovertip.hovertiptext::before {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.hovertip:hover:before {
  opacity: 1;
  visibility: visible;
}

/* Section end*/


/* image and text side-by-side *******************************************************************/
* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  padding: 5px; /* space between two tables*/
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

figure {
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin: 0.5em;
  padding: 0.5em;
}
/* side by side end*/



