/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";


.hovertip {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertip:before {
  content: attr(data-hover);
  visibility: hidden;

  width: 250px;
  background-color: #add8e6;
  color: black;
  text-align: left;
  border-radius: 5px;
  padding: 5px 0;
  /* fade-in*/
  opacity: 0;  
  transition: opacity 1s ease-in-out;

  /* top tooltip*/
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 110%;
  margin-left: -60px;
}

.hovertip.hovertiptext::before {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.hovertip:hover:before {
  opacity: 1;
  visibility: visible;
}